@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

html {
  background-color: #262471;
}

* {
  font-family: "Poppins";
  font-size: 0.95rem;
}

.shadow-top-right {
  box-shadow: 4px -4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px -4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shadow-bottom-left {
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.heroBg {
  background: linear-gradient(
      0deg,
      rgba(38, 36, 113, 0.57),
      rgba(0, 0, 0, 0.65)
    ),
    url(./assets/images/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.arrowAssetBg {
  background-color: #262471;
  background-image: url("./assets/images/arrow-asset.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.formWidthFull {
  width: 100%;
  transition: width 1s;
}

.formWidthShrink {
  width: 60%;
  transition: width 1s;
}

.css-13cymwt-control {
  border: none !important;
}

.css-1hb7zxy-IndicatorsContainer {
  display: none !important;
}
